%html
  %head
    %title
      ProjectOdd
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/grid.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/text.css', :media=>'screen, print' }
  %body.ninesixty
    #container
      #header_container
        %a{:href=>'/'}
          %img.logo{:src=>'/images/projectodd-logo.png'}
      #content_container
        ~ content
      #footer_container
        #footer
          Ostensibly copyright by the ProjectOdd members and Red Hat, Inc.  
          BoxGrinder&trade; and TorqueBox&trade; are
          trademarks of Red Hat, Inc.
